/* Body CSS */
body {
	background-color: #d4d4d4;
	margin: 0px;
	padding: 0px;
  	font-family: "Lato", sans-serif;
}
a {
	color: black;
}
.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.column {
	float:left;
	width: 200px;
	padding: 15px;
}
#enlarge {
	width: 40%;
	border-radius: 25%;
	box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#enlarge:hover {
	width:42%;
	box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mySlides {
	display:none;
}

/* Menu  CSS */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  float: right;
}

.openbtn:hover {
  background-color: #444;
}

#menuBtn {
	padding: 48px 0;
	padding-right: 10%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* Header CSS */
header {
	background-color: white;
	height: 150px;
}

.settle {
	float: left;
	padding: 33px 0 0 10%;
	max-width: 25%;
	height: auto;
}

/* Map CSS */
.map {
	width: 70%;
	height: 440px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}